body {
  background: #055388;
  text-align: center;
  width: 100%;
}

.meme-gen-modal {
  display: flex;
  box-shadow: 4px 0px 0px 0px rgb(73, 137, 198);
  flex-direction: row;
  padding: 30px 0;
}

.svg-wrapper {
    width:50%;
}
.meme-form-wrapper {
    width: 50%;
}

.meme-gen-modal svg {
    grid-row-end: span 2;
    border: 10px;
    border-bottom: 20px;
    border-style: solid;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #b2b2b2;
    -webkit-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.75);
  }


.meme-form {
    width: 70%;
    padding: 0 50px;
  }

.form-control {
  padding: 10px;
  width: 100%;
  margin: 10px;
}

.form-control:focus {
  border-color: white;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

.btn-primary {
  width: auto;
  margin: 10px;
  position: relative;
  background: #055388;
  border: 1px solid white;
  padding: 3px;
  font-size: 14px;
  color: white;
  box-shadow: 4px 4px 0px 0px white;
  font-family: "Luckiest Guy";
  text-shadow: 0px 3px 1px #212121;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  font-weight: 100;
  left: 0;
  top: 0;
}

.btn-primary:hover {
  left: 4px;
  top: 4px;
  box-shadow: 0 0 0 0 white;
}

.buttons {
  display: flex;
}

.btn-gallery {
  width: 20%;
  padding: 10px 10px;
  margin: 0 0 50px 0px;
  position: relative;
  background: #055388;
  border: 1px solid white;
  font-size: 1.3em;
  color: white;
  box-shadow: 4px 4px 0px 0px white;
  font-family: "Luckiest Guy";
  text-shadow: 0px 3px 1px #212121;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  left: 0;
  top: 0;
}

.btn-gallery:hover {
  left: 4px;
  top: 4px;
  box-shadow: 0 0 0 0 white;
}

@media only screen and (max-width: 965px) {
  .meme-gen-modal {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .meme-form {
    width: 100%;
    padding: 0 50px;
  }


}
