.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 33px;
  grid-auto-rows: 10px;
  background-color: #055388;
  padding: 30px;
}

.image-list img {
  width: 250px;
  height: 250px;
  grid-row-end: span 2;
  border: 1px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #b2b2b2;
  -webkit-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.75);
}

.h1 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 70pt;
  font-family: "Luckiest Guy";
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121,
    0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121,
    6px 0px 0 #212121, -6px -6px 0 #212121, 6px -6px 0 #212121,
    -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121,
    0px 18px 0 #212121, 6px 18px 0 #212121, 0 19px 1px rgba(0, 0, 0, 0.1),
    0 0 6px rgba(0, 0, 0, 0.1), 0 6px 3px rgba(0, 0, 0, 0.3),
    0 12px 6px rgba(0, 0, 0, 0.2), 0 18px 18px rgba(0, 0, 0, 0.25),
    0 24px 24px rgba(0, 0, 0, 0.2), 0 36px 36px rgba(0, 0, 0, 0.15);
}
